<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Project 3</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">			
		<!-- D3.js and Bootstrap CSS libraries -->
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
			  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body onload="init()">
		<div class="marauder">
			<div class="container boxed">
				<p class="title">Marauder's Map</p>
				<p class="lead intro">
					A demographic study of students taking INFO5100 in Spring 2017 about their favorite caf&eacute; and place
					of residence. <br>
					Please select a location and major(s) to view the map. Click the markers to know more!
				</p>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<p class="btn-pill"><input type="radio" class="form-check-input" name="optionsRadios" id="cafe">
								Favorite caf&eacute; <i class="em em-coffee"></i></p>
							</label>
						</div>
					</div>
					<div class="col-5"></div>
					<div class="col">
						<label class="form-check-label">
							<input id="cs" type="checkbox" class="form-check-input" unchecked>
							<p class="btn-pill">CS
								<i class="em em-computer"></i>
							</p>
						</label>

						<label class="form-check-label">
							<input id="info" type="checkbox" class="form-check-input" unchecked>
							<p class="btn-pill">INFO
								<i class="em em-iphone"></i>
							</p>
						</label>
					</div>
				</div>


				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<p class="btn-pill"><input type="radio" class="form-check-input" name="optionsRadios" id="home">
									Home location <i class="em em-house_with_garden"></i></p>
							</label>
						</div>
					</div>
					<div class="col-5"></div>
					<div class="col">
						<label class="form-check-label">
							<input id="orie" type="checkbox" class="form-check-input" unchecked>
							<p class="btn-pill">ORIE
								<i class="em em-memo"></i>
							</p>
						</label>
						<label class="form-check-label">
							<input id="other" type="checkbox" class="form-check-input" unchecked>
							<p class="btn-pill">Other*
								<i class="em em-information_desk_person"></i>
							</p>
						</label>
					</div>
				</div>
				<div id="mapid"></div>

				<p class="lead intro text-center">
					The bubble chart displays all the courses in various departments being taken by INFO 5100 students in Spring 2017.
				</p>

				<div id="row1">
					<div id="classesByCategory">
						<h1>Number of Classes by Category</h1>
					</div>
				</div>

				<a href="../index.html"><img class="mis" src="static/mis.png" alt="Spell"></a>

				<footer>
					<p class="text-center lead">*Other includes ECE, MSE, Mech, ARP and AEP.</p>
				</footer>
			</div>
		</div>

		<script src="js/map.js"></script>
		<script src="js/classesByCategory.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>
</html>